@import "../_variables"

#header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 12px
    background-color: $black
    position: sticky
    top: 0
    z-index: 9
    border-bottom: 2px solid $black-75
    margin-bottom: 32px


    & .logo
        display: flex
        align-items: flex-start
        cursor: pointer
        gap: 12px

        & img
            height: 33px
            width: 45px

        & span
            @include H3

    & .menu
        & img
            height: 40px
            width: 40px
            border-radius: 50%
            cursor: pointer

        & .dropdown
            @include paragraph
            display: flex
            flex-direction: column
            justify-content: flex-start
            position: absolute
            right: 12px
            background: $bg-primary
            padding: 4px
            border-radius: 8px
            box-shadow: -4px 10px 24px 5px rgba(0,0,0,0.4)

            & .item
                @include caption
                cursor: pointer
                padding: 4px 8px
                border-radius: 8px

                &:hover
                    background: $input-bg

            & .log-out
                color: $error

        & .user
            display: flex
            padding: 8px

            & img
                cursor: auto !important

            & .text
                display: flex
                flex-direction: column
                margin-left: 8px
                height: 40px

                & .discriminator
                    @include caption
                    color: $font-secondary

@media only screen and (min-width: 768px)
    #header
        padding: 24px 64px
        position: relative
        margin-bottom: 64px

        & .logo
            gap: 16px

            & img
                height: 40px
                width: 56px

            & span
                @include H2

        & .menu
            & img
                height: 48px
                width: 48px

            & .dropdown
                padding: 8px

                & .item
                    padding: 8px

            & .user .text
                    height: auto